@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400&family=New+Tegomin&family=Poppins:wght@100;300;400;500;600&family=Roboto&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}
.start{
    color: white;
    background: rgb(33, 101, 33);
    text-align: center;
    
}
.start span{
    padding-left: 2rem;
}
.shop{
    color: green;
    background-color: white;
    padding-right: 2rem;
}
.bag{
    width: 2rem;
    height: 2rem;
}
.links ul{
    display: inline-block;
}
.links li{
    text-decoration: none;
    display: inline-block;
    padding: 2rem 2rem;
}
.menu{
    width: 2rem;
    height: 2rem;
    padding-left: 2rem;
    padding-top: 0.2rem;
}
.main ul li{
    text-decoration: none;
    display: inline-block;
}
.potato{
    display: inline-block;
}
.small{
    width: 6rem;
    height: 6rem;
    display: block;
    border: 1px solid gray;
}
.big{
    width: 20rem;
    height: 20rem;
}
.line{
    width: 0;
    height: 0;
}
.btn{
    padding: 7px 7px;
    background-color: gray;
}
.main{
    margin-left: 4rem;
    display: inline-block;
}
.footer{
    display: inline-block;
    margin-left: 5re;
}
.symbol{
    color: white;
    border-radius: 50%;
    background-color: green;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
}
.card{
    height: 10rem;
    width: 10rem;
}